.footer-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    color: #4b4c4d;
    background-color: #4a4a4a;
}

.footer-basic .social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.footer-basic .social>a,
.footer-basic .social div>a {
    font-size: 18px;
    width: 1.68em;
    height: 1.68em;
    line-height: 1.68em;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.wrapper-social {
    text-align: center;
}
